@import "tailwindcss";



:root {
  --main-color: #4A3D2F;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
  --font-family: "Arimo", sans-serif;
  --body-font: "Outfit", sans-serif;
  --rating-color: #ffc908;
}

.header-font{
  font-family: var(--font-family);
}
body{
  font-family: var(--body-font);
  /* background-color: #F8F6F3; */
}


 a{
  text-decoration: none;
  outline: none;
}


